@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 28 24% 8%;
    --card: 0 0% 100%;
    --card-foreground: 28 24% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 28 24% 8%;
    --primary: 28 24% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 28 56% 48%;
    --secondary-foreground: 0 0% 100%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 262 83% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 28 24% 21%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
